<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 900px;
}

    </style>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites Page</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                <ul class="navbar-nav  mr-auto">
                    <a class="nav-link dark-gray" href="/userhome">IMDB</a>
                </ul>
                <ul class="navbar-nav  mr-4">
                    <a class="nav-link dark-gray" href="/logout">Logout</a>
                </ul>
            </div>
        </nav>
    </div>
    <%- include('./layouts/messages') %>
    <div class="row mb-4" style="font-size: large;">
        <% favouriteList.forEach(movie=>{ %>
            <% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
        <div class="column">
            <div class="card" style="font-size: large; margin-bottom: 20px; margin: 20px;">
            <img class="card-img-top" style="width:420px;height:400px;"src="<%- movie.Poster %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: large;"><%- movie.Title %></h5>
                        <% user.favourites.forEach(favourite =>{ %>
                        <% if(favourite.imdbID === movie.imdbID){ %>
                        <ul>
                            <% favourite.comments.forEach((comment,index) =>{ %>
                            <div style="display: flex;justify-content: space-between;">
                                <li><%- comment %></li>
                                <form action="/removeComment/<%- movie.imdbID %>/<%- index %>" method="POST">
                                    <button type="submit" style="width: 170px; height: 40px; font-size: large;"
                                        class="btn btn-outline-dark pl-4 pr-4">Remove
                                        comment</button>
                                </form>
                            </div>
                            <% })%>
                        </ul>
                        <%}%> 
                        <% }) %>
                        <form action="/addComment/<%- movie.imdbID %>" method="POST">
                            <div class="form-group" style="font-size: large;">
                                <label for="comments">Comments</label>
                                <input type="text" style="width: 400px; height: 100px;" class="form-control" id="text"
                                    placeholder="Enter comments" name="comment">
                            </div>
                            <button type="submit" style="width: 170px; height: 40px; font-size: large;"
                                class="btn btn-outline-dark pl-4 pr-4">Add Comment</button>
                        </form>
                        <br>
                        <form action="/removeFavourite/<%- movie.imdbID %>" method="POST">
                            <button type="submit" style="width: 220px; height: 40px; font-size: large;"
                                class="btn btn-outline-dark pl-4 pr-4">Remove From Favourite</button>
                        </form>
                    </div>
            </div>
      </div>
      <% }) %>
    </div>
    
</body>
</html>